.card {
    margin-bottom: 20px;
    display: inline-block;
    width: 47%;
    margin-left: 2%;
    border : solid 1px #efefef;
    .content{
        padding: 20px;
        text-align: left;
        font-weight: normal;
        font-size: 13px;
    }
    .title {
        display: inline-block;
        border-bottom: solid 1px #efefef;
        font-weight: 500;
        width: 100%;
        padding:20px ;
        .date {
            margin-left: 25px;
            font-weight: normal;
            color:#a7a7a7;
        }
    }
}