.card {
    display: inline-block;
    width: 49%;
    margin-left: 0.5%;
    border : solid 1px #efefef;
    .title {
        display: inline-block;
        border-bottom: solid 1px #efefef;
        font-weight: 500;
        width: 100%;
        padding:20px ;
        .date {
            margin-left: 25px;
            font-weight: normal;
            color:#a7a7a7;
        }
    }
}