$padding: 20px;

.container {
    padding: $padding;
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    .contentConainer {
        height: 100%;
        padding: $padding*1.25;
        background-color: #FFF;
    }
}
.home {
    padding: 0;
}